@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-button > div {
  background: linear-gradient(45deg, transparent 25%, orange 25%, orange 50%, transparent 50%, transparent 75%, orange 75%, orange);
  background-size: 100px 100px;
  animation: scroll-bg 5s linear infinite;
}

@keyframes scroll-bg {
  100% {
    background-position: -100px 0;
  }
}